:host {
  width: 20vw;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  padding-top: 6rem;
}
// :host {

// }

.container {
  min-width: 100%;
  min-height: 100vh;
  color: #fff;
  //   background-color: forestgreen;
}
.home {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
  display: inline-block;
}
.title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}
.display-none {
  display: none;
}
.display {
  display: visible;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
  }
}

img {
  max-width: 3.2rem;
  max-height: 3.2rem;
  border-radius: 0.6rem;
  margin-right: 0.8rem;
  object-fit: contain;
  //   filter: grayscale(100%);
}
span {
}
.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1a;
    border: none;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.6rem;
    transition: all 0.3s;
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585858;
    font-size: 32px;
  }
  &-span {
    color: #585858;
    font-weight: bold;
    font-size: 1.6rem;
  }
  &:hover &-button {
    background-color: #8b8b8b;
  }
  &:hover &-icon {
    color: #2e2e2e;
  }
}
