<div class="container">
  <div class="genres">
    <a class="home">home</a>
    <div class="title">Genres</div>
    <ul>
      <li
        *ngFor="let genre of genres; let i = index"
        [ngClass]="{ 'display-none': i > 2 && !showAllItems }"
      >
        <ng-container>
          <a href="">
            <img
              src="../../../assets/images/genres/{{ genre }}.jpg"
              alt="{{ genre | titlecase }}"
            />
            <a href=""> {{ genre | titlecase }} </a>
          </a>
        </ng-container>
      </li>

      <div class="toggle" (click)="showAllItems = !showAllItems">
        <button class="toggle-button">
          <mat-icon class="toggle-icon"
            >expand_{{ showAllItems == false ? "more" : "less" }}</mat-icon
          >
        </button>
        <span class="toggle-span">{{
          showAllItems == false ? "Show all" : "Hide"
        }}</span>
      </div>
    </ul>
  </div>
</div>
